* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  color: rgb(32, 32, 32);
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
}

#mainLoginPage {
  background-color: #ce0033;
}

#mainLoginPage > header > div > h1 {
  color: white;
  position: absolute;
}
#mainLoginPage > header > div:first-child {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainLoginPage img:first-child {
  height: auto;
  width: 100%;
}
#mainLoginPage section > h2 {
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: center;
}
#mainLoginPage section div form {
  display: flex;
  flex-direction: column;
}
#mainLoginPage form input {
  width: 50%;
  margin-left: 25%;
  border: #ffffff 2px solid;
}
#mainLoginPage form > * {
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
#mainLoginPage form > #button {
  width: 50%;  
  padding: 2%;
  color: #ffffff;
  background-color: black;
  border-radius: 4px;
}

/* Messages d'alerte */

#msg_error{
  font-size: 20px;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 85%;
   left: 3%;
}


.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}


/* inscription */
#sec_inscription{
  visibility: hidden;
}


@media screen and (min-width: 480px) {
  #mainLoginPage {
    background-color: #ce0033;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    max-width: 30%;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    border: black solid 2px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 10% 0 10% 0;
  }
}
